<!-- this modal whill be shown after voter confirmed -->
<!-- This serves as the voter's ballot and this is the page where the voter cast his vote -->
<!-- This model should not be closed unless confrimation is clicked -->

{% load widget_tweaks %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<div class="modal-header">
  <h4 class="modal-title">{{object.student.first_name|title}}, this is your OFFICIAL BALLOT!</h4>
</div>
<div class="modal-body">
  {% for field in form %}
    <div class="form-group {% if field.errors %} has-error {% endif%}">
      {% for error in field.errors %}
        <p class="help-block"> {{ error }}</p>
      {% endfor %}

      {{ field|as_crispy_field }}
    </div>
  {% endfor %}
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-send"></span>
      Cast Vote
  </button>
</div>
