{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block heading  %}

  <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
  <link rel="stylesheet" href="{% static 'registration/css/user_list.css' %}">
  <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
  <!-- <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> -->
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

{% endblock %}

{% block content %}
<h2>Election Management</h2>
  <form method="post">
    {% csrf_token %}
      {{ election_filter_form|crispy }}
      {{ show_all_filter_form|crispy }}
  </form>
  <p>
   <button type="button" class="btn btn-primary js-create-election"
      data-toggle="tooltip" data-placement="right" title="Create new election"
      data-url="{% url 'registration:create_election_ajax' %}">
     <span class="glyphicon glyphicon-plus"></span>
     New Election
   </button>
 </p>
 <table id="election_list" class="table table-bordered display table-responsive">
   <thead>
     <tr>
       <th>School Year</th>
       <th>Name</th>
       <th>Start Date</th>
       <th>End Date</th>
       <th>Status</th>
       <th>Action</th>
     </tr>
   </thead>
   <tfoot>
     <tr>
       <th>School Year</th>
       <th>Name</th>
       <th>Start Date</th>
       <th>End Date</th>
       <th>Status</th>
       <th>Action</th>
     </tr>
   </tfoot>
   <tbody>

   </tbody>
 </table>

 <div class="modal fade" id="modal-section">
   <div class="modal-dialog">
     <div class="modal-content">
     </div>
   </div>
 </div>

 <script> //initialize script

   function get_all_checkbox(){
     if ($('#id_show_all').prop('checked'))
       return true;
     else
       return false;
   }

     $(document).ready( function () {
       var table = $('#election_list').DataTable({
         "drawCallback": function( settings ) {
             //https://stackoverflow.com/questions/39240361/datatables-and-bootstrap-tooltips
                 $('[data-toggle="tooltip"]').tooltip();
                 },
         "processing": true,
         "ajax": {
             "processing": true,
             "url": "{% url 'registration:populate_table_election_list_ajax' %}",
             "data": function( d ) {
                     d.school_year = $('#id_school_year').val();
                     d.select_all = get_all_checkbox();
                   },
             "dataSrc": ""
         },
         'columns': [
           {"data": "fields.school_year"},
           {"data": "fields.name"},
           {"data": "fields.election_day_from"},
           {"data": "fields.election_day_to"},
           {"data": "fields.status"},
           {"data": "pk"},
         ],
         "columnDefs": [
           { "render": function ( data, type, row ) {
                 var toggleButton = ""
                 if (row['fields']['is_active']) {
                  toggleButton = '<button id="button-change-password" type="button" '
                        + 'class="btn btn-danger btn-sm js-toggle-election"'
                        + 'data-toggle="tooltip" data-placement="right" title="Deactivate" '
                        + 'data-url="/registration/ajax/election/toggle_status/'
                        + row['pk']  +'/">' +'<span class="glyphicon glyphicon-remove-sign"></span></button></div>';
                  }
                  else {
                    toggleButton = '<button  type="button" class="btn btn-success btn-sm js-toggle-election"'
                        + 'data-toggle="tooltip" data-placement="right" title="Activate" '
                        + 'data-url="/registration/ajax/election/toggle_status/'
                        + row['pk']  +'/">' +'<span class="glyphicon glyphicon-ok-sign"></span></button></div>';
                  }
                  return '<div class="btn-group"><button id="button-edit" type="button" '
                     + 'class="btn btn-secondary btn-sm js-update-election" '
                     + 'data-toggle="tooltip" data-placement="left" title="Edit" '
                     + 'data-url="/registration/ajax/election/update/'
                     + data  +'/">' +'<span class="glyphicon glyphicon-pencil">'
                     + '</span></button>'
                     + '<button id="button-change-password" type="button" '
                     + 'class="btn btn-primary btn-sm js-show-more-details-election" '
                     + 'data-toggle="tooltip" data-placement="top" title="Show More Details" '
                     + 'data-url="/registration/ajax/election/more_details/'
                     + data  +'/">' +'<span class="glyphicon glyphicon-list-alt">'
                     + '</span></button>'
                     + toggleButton ;
                   },
                   "targets": -1
           },
           { "render": function ( data, type, row ) { //changing date format to dd/mm/yyyy
                       var dateAr = data.split('-');
                       var newDate = dateAr[1] + '/' + dateAr[2] + '/' + dateAr[0];
                       if ((row['fields']['is_active']))
                          return newDate;
                        else
                          return '<strike>' + newDate + '</strike>';
                   },
             "targets": [2, 3]
           },
           { "render": function ( data, type, row ) { //add link to detailed view
                    var pre_text = '<a target="_blank" rel="noopener noreferrer" href="/registration/election/'
                    var mid_text = '/">'
                    var post_text = '</a>'
                       if ((row['fields']['is_active'])) {
                           return pre_text + row['pk'] + mid_text + data + post_text;
                       }
                       else
                           return '<strike>' + data +'</strike>'; //no detailed view for inactive
                     },
             "targets": 1
           },
           { "render": function ( data, type, row ) {
                     if ((row['fields']['is_active'])) {
                         return data;
                     }
                     else
                         return '<strike>' + data + '</strike>';
                   },
             "targets": [0,1,2,3]
           },
           { //https://stackoverflow.com/questions/45446910/jquery-datatables-align-center-1-column
               "targets": -1,
               "className": "text-center",
               // "width": "4%"
           }
         ],
         "order": [[ 0, "desc" ]]
       });

       //listener
       $(':checkbox').change( function(){
           $('#election_list').DataTable().ajax.reload();
       });
       $('#id_school_year').change( function(){
         $('#election_list').DataTable().ajax.reload();
       });

     });
 </script>

 <script src="{% static modal_ajax_location %}"></script>

{% endblock %}
