{% load widget_tweaks %}
{% load staticfiles %}


<form method="post" id="id_form" enctype="multipart/form-data"
  {% if mode == 'create' %}
    action="{% url 'registration:create_candidate_ajax' %}"
    class="js-{{object_name}}-create-form">
  {% endif%}
  {% if mode == 'update' %}
    action="{% url 'registration:candidate_update_ajax' form.instance.pk  %}"
    class="js-{{object_name}}-update-form">
  {% endif %}
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-lable="Close"">
      <span area-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      {% if mode == 'create' %}
          Create New {{object_name|title}}
      {% endif %}
      {% if mode == 'update' %}
          Update {{object_name|title}}
      {% endif %}

      {% if mode == 'view' %}
          More Details
      {% endif %}

    </h4>
  </div>
  <div class="modal-body">
    {% for field in form %}
      <div class="form-group {% if field.errors %} has-error {% endif%}">
        {% for error in field.errors %}
          <p class="help-block"> {{ error }}</p>
        {% endfor %}
        <label for="{{field.id_for_label}}"> {{field.label}}</label>
        {% render_field field  %}
      </div>
    {% endfor %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    {% if mode != 'view' %}
      <button type="submit" class="btn btn-primary">
        {% if mode == 'create' %}
          <span class="glyphicon glyphicon-plus"></span>
          Create {{object_name|title}}
        {% endif %}
        {% if mode == 'update' %}
          <span class="glyphicon glyphicon-pencil"></span>
            Update {{object_name|title}}
        {% endif %}
      </button>
    {% endif %}
  </div>
</form>

<script>

  function clear_student(){
    $('#id_student')
      .find('option')
      .remove()
      .end()
      .append('<option value="">---------</option>')
  }

  function clear_position(){
    $('#id_position')
      .find('option')
      .remove()
      .end()
      .append('<option value="">---------</option>')
  }

  function update_drop_downs(){
    var form = $("#id_form");
    $.ajax({  //populate other drop downs
      url: '{% url "registration:candidate_populate_options_for_student_ajax" %}',
      data: form.serialize(),
      success: function(data){
        $('#id_student').html(data['student_list_html']);
        $('#id_position').html(data['position_list_html']);
        $('#id_student').selectpicker('refresh');
        $('#id_position').selectpicker('refresh');
      }
      });
      clear_student();
      clear_position();
  }

  $(document).ready(function() {

    $('#id_election').change(update_drop_downs);

      $('#id_election').attr('data-live-search',"true");
      $('#id_election').selectpicker('render');

      $('#id_student').attr('data-live-search',"true");
      $('#id_student').selectpicker('render');

      $('#id_position').attr('data-live-search',"true");
      $('#id_position').selectpicker('render');

      $('#id_party').attr('data-live-search',"true");
      $('#id_party').selectpicker('render');

  });
</script>

{% if mode == 'update' %}
  <script>

  </script>
{% endif %}
