{% extends 'registration/partial_user_base_ajax.html' %}

{% block form_content %}
<form action="{% url 'registration:update_user_ajax' user_form.instance.pk %}"
  data-table-list-id="#user_list"
  method="post" class="js-user-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-lable="Close"">
      <span area-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Update User</h4>
  </div>
  <div class="modal-body">
      {% include 'registration/partial_user_form_ajax.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>Update User</button>
  </div>
  <table id="uploaded_students" class="table table-bordered display" hidden>
    <thead>
      <tr>
        <th>LRN</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>LRN</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Action</th>
      </tr>
    </tfoot>
    <tbody>
      {% for student in student_list %}
      <tr>
        <td>{{ student.lrn }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.first_name }}</td>
        <td id="td_action"> <button type="button" class="btn btn-success my-btn"> Select </button> </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</form>

<script> //update checkbox based on the user group
  function check_group_checkbox(group){
    switch(group){
      case "Election Officer":
        $('#id_for_student_0').prop('checked',true);
        break;
      case "System Administrator":
        $('#id_other_groups_1').prop('checked',true);
        break;
      case "Teacher":
        $('#id_other_groups_0').prop('checked',true);
        break;
    }
  };
</script>

<!-- check groups and enable checkbox -->
{% for group in groups %}
  <script>
    check_group_checkbox("{{group}}");
  </script>
{% endfor %}

{%endblock%}
