{% extends 'registration/partial_user_base_ajax.html' %}

{% block form_content %}
<form action="{% url 'registration:update_user_reset_password_ajax' user_form.instance.pk %}" method="post" class="js-user-reset-password-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-lable="Close"">
      <span area-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Password Reset For User <b> {{user}}</b></h4>
  </div>
  <div class="modal-body">
      {% include 'registration/partial_user_form_ajax.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-lock"></span>Reset Password</button>
  </div>
</form>

<script> //check if password match before sending

</script>

{%endblock%}
