{% load widget_tweaks %}
<script >
  function sentenceCase (str) { //convert string to Title. Upper case first letter of the word
      if ((str===null) || (str===''))
           return false;
      else
       str = str.toString();

     return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
      }


  $(document).ready( function () {  //link my table,uploaded_students, to datable.js
    $('#uploaded_students').DataTable(
              {
                "order": [[ 1, "asc" ]]
              }
    );
    $('#uploaded_students_wrapper').hide();

    $('.table tbody').on('click','.my-btn',function(){
      var currow = $(this).closest('tr');
      // populate the last_name and first_name
      $('#id_first_name').val(sentenceCase(currow.find('td:eq(2)').text()));
      $('#id_last_name').val(sentenceCase(currow.find('td:eq(1)').text()));

      //populate the hidden input
      $('input[name="student_lrn"]').val(currow.find('td:eq(0)').text().trim());

      });

  });
</script>

<script> //ajax script. check if user exist
    $(document).ready(function() {
        $("#id_username").change(function () {
          var form = $(this).closest("form");

          $.ajax({
            url: '{% url "registration:validate_username_ajax" %}',
            data: form.serialize(),
            dataType: 'json',
            success: function(data){
              if (data.is_taken){
                alert(data.error_message);
                $('#create-btn').prop('disabled',true);
              }
              else {
                $('#create-btn').prop('disabled',false);
              }
            }
          });
       });
    });

</script>

{% block form_content %}

{%endblock%}

<script>// script to switch the two checkboxed if the other is checked

  $(document).ready(function() {
    var fade_time = 500;
    // convert string election_officer_flag to boolean
    var election_officer_flag_bool = "{{election_officer_flag}}".toLowerCase() == "true" ? true : false;
  //   $('#id_for_student_0').change(function() {
  //       $('#uploaded_students').prop("hidden", false);
  //       if(this.checked ) {
  //         $('#id_for_student_1').prop("checked", false);
  //         if (!election_officer_flag_bool)
  //           $('#uploaded_students_wrapper').fadeIn(fade_time);
  //
  //       }
  //       else if($('#id_for_student_1').prop("checked") == false){
  //           // $('#uploaded_students_wrapper').hide();
  //           $('#uploaded_students_wrapper').fadeOut(fade_time);
  //           // $(':button').prop('disabled', true);
  //       }
  //
  // });
      $('#id_for_student_1').change(function() {
          $('#uploaded_students').prop("hidden", false);
          if(this.checked ) {
            // $('#id_for_student_1').prop("checked", false);
            if (!election_officer_flag_bool)
              $('#uploaded_students_wrapper').fadeIn(fade_time);

          }
          else {
              // $('#uploaded_students_wrapper').hide();
              $('#uploaded_students_wrapper').fadeOut(fade_time);
              // $(':button').prop('disabled', true);
          }

    });

  // $('#id_for_student_1').change(function() {
  //     $('#uploaded_students').prop("hidden", false);
  //     if(this.checked) {
  //       $('#id_for_student_0').prop("checked", false);
  //       // $('#uploaded_students_wrapper').show();
  //       $('#uploaded_students_wrapper').fadeIn(fade_time);
  //        // $(':button').prop('disabled', false);
  //     }
  //     else if($('#id_for_student_0').prop("checked") == false){
  //         // $('#uploaded_students_wrapper').hide();
  //         $('#uploaded_students_wrapper').fadeOut(fade_time);
  //         // $(':button').prop('disabled', true);
  //     }
  //   });

    // if for_student checkbox is checked. just show the table. This is applicable for update
    // if($('#id_for_student_0').prop("checked") || $('#id_for_student_1').prop("checked")) {
    //     if(!election_officer_flag_bool) {
    //       $('#uploaded_students').prop("hidden", false);
    //       $('#uploaded_students_wrapper').fadeIn(fade_time);
    //     }
    // }
    if($('#id_for_student_1').prop("checked")) {
        if(!election_officer_flag_bool) {
          $('#uploaded_students').prop("hidden", false);
          $('#uploaded_students_wrapper').fadeIn(fade_time);
        }
    }


  });
</script>
