{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block heading %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


{% endblock %}

{% block content %}

<h2>
  {% if not form.instance.pk %}
    Add Student
  {% else %}
    Update Student
  {% endif %}
</h2>
<form method="post">
  {% csrf_token %}

  {{ form|crispy }}

  <p><input type="submit" class="btn btn-primary" name="add_update_button"
     {% if not form.instance.pk %}
      value="Add"
    {% else %}
      value="Update"
    {% endif %}
    >
    {% if not form.instance.pk %}
     <input type="submit" class="btn btn-primary" name="add_more_button" value="Add and add more">
     {% else %}
      <input type="submit" class="btn btn-primary" name="update_cancel" value="Cancel">
      <a href="{% url 'registration:delete_student' pk=form.instance.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>

   {% endif %}
  </p>
</form>

<script type="text/javascript">
  $(document).ready( function () {
     // convert the date format of birthdate from yyyy-mm-dd to mm/dd/yyyy
     var date = $("#id_birth_date").val().split('-');
     var newDate = date[1] + '/' + date[2] + '/' + date[0];

     //assign the new value to the field
     $("#id_birth_date").val(newDate);
  });
</script>

<script>
  $(function() {
    $( "#id_birth_date" ).datepicker(
      { dateFormat: 'mm/dd/yyyy' }
    );
    $("#id_birth_date").attr("readonly","readonly");
  });
</script>

{% endblock %}
