{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block heading  %}
  <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

  <script > //initialization script
    function sentenceCase (str) { //convert string to Title. Upper case first letter of the word
        if ((str===null) || (str===''))
             return false;
        else
         str = str.toString();

       return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        }

    $(document).ready( function () {  //link my table,uploaded_students, to datable.js
      $('#uploaded_students').DataTable(
                {
                  "order": [[ 1, "asc" ]]
                }
      );
      if("{{mode}}" != "create election officer") {
            $('#uploaded_students_wrapper').hide(); //hide if mode is create user
            $(':button').prop('disabled', true); //disable add if mode is create user, enable once checkbox is checked
      }
      else{
          $('#uploaded_students').prop("hidden", false);
      }
      //add function to Load button. This will populate the First Name and Last Name
      $('.table tbody').on('click','.my-btn',function(){
        var currow = $(this).closest('tr');
        $('#id_first_name').val(sentenceCase(currow.find('td:eq(2)').text()));
        $('#id_last_name').val(sentenceCase(currow.find('td:eq(1)').text()));
        $('input[name="student_lrn"]').val(currow.find('td:eq(0)').text().trim());
      });
  } );
  </script>

  <script>// script to switch the two checkboxed if the other is checked

    $(document).ready(function() {
      var fade_time = 500;

      $('#id_for_student_0').change(function() {

          $('#uploaded_students').prop("hidden", false);
          if(this.checked) {
            $('#id_for_student_1').prop("checked", false);
            // $('#uploaded_students_wrapper').show();
            $('#uploaded_students_wrapper').fadeIn(fade_time);
            $(':button').prop('disabled', false);
          }
          else if($('#id_for_student_1').prop("checked") == false){
              // $('#uploaded_students_wrapper').hide();
              $('#uploaded_students_wrapper').fadeOut(fade_time);
              $(':button').prop('disabled', true);
          }

    });

    $('#id_for_student_1').change(function() {
        $('#uploaded_students').prop("hidden", false);
        if(this.checked) {
          $('#id_for_student_0').prop("checked", false);
          // $('#uploaded_students_wrapper').show();
          $('#uploaded_students_wrapper').fadeIn(fade_time);
           $(':button').prop('disabled', false);
        }
        else if($('#id_for_student_0').prop("checked") == false){
            // $('#uploaded_students_wrapper').hide();
            $('#uploaded_students_wrapper').fadeOut(fade_time);
            $(':button').prop('disabled', true);
        }
      });
    });
  </script>

  <script> //script for password Validation
  </script>

  <script> //ajax script. check if user exist
      $(document).ready(function() {
          $("#id_username").change(function () {
            var form = $(this).closest("form");

            $.ajax({
              url: '{% url "registration:validate_username_ajax" %}',
              data: form.serialize(),
              dataType: 'json',
              success: function(data){
                if (data.is_taken){
                  alert(data.error_message);
                  $('#create-btn').prop('disabled',true);
                }
                else {
                  $('#create-btn').prop('disabled',false);
                }
              }
            });
         });
      });

  </script>


{% endblock %}

{% block content %}
  <h2>{{mode|title}}</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table id="form-table">
      {{ user_form.as_table }}
      {{ profile_form.as_table }}
    </table>
    <input id="create-btn" type="submit" name="create_user" value="Create" class="btn btn-primary">
    <p></p>
    <table id="uploaded_students" class="table table-bordered display" hidden>
      <thead>
        <tr>
          <th>LRN</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>LRN</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Action</th>
        </tr>
      </tfoot>
    <tbody>
      {% for student in student_list %}
      <tr>
        <td>{{ student.lrn }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.first_name }}</td>
        <td id="td_action"> <button type="button" class="btn btn-success my-btn"> Select </button> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </form>

  <script> //check the mode that is set on urls.py
    if("{{mode}}" == "create election officer"){
      $(document).ready( function () {
        //$(':checkbox').prop('disabled', true);   //disable all checkbox elements
        $('#form-table tr:eq(5),#form-table tr:eq(6)').hide();
        $('#id_for_student_0').prop("checked",true); //checked the election offcier checkbox
      });
    }
  </script>
{% endblock%}
