{% extends 'base_2.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block heading  %}

  <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}">

  <!-- for more datatables buttons -->
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttons.bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'registration/css/user_list.css' %}">


  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

  <style media="screen">
        #user_list_wrapper .btn, #user_list_wrapper{
          font-size: 11px;
        }
        .odd {
          background-color: #f4f3f2;
        }
  </style>

{% endblock %}

{% block content %}
<h3><b>User Management</b></h3>

<div class="row">
    <!-- filter & create button-->
    <div class="col-md-2">
        <!-- create button -->
        <div class="row " style="margin-bottom: 10px;">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-block js-create-user" data-url="{% url 'registration:create_user_ajax' %}">
                   <span class="glyphicon glyphicon-plus"></span>
                   New User
                </button>
            </div>
        </div>
        <!-- filter -->
        <div class="row ">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a data-toggle=collapse href="#collapseFilter">Filter</a>
                    </div>
                    <div id="collapseFilter" class="panel-collapse collapse in" >
                        <div class="panel-body">
                          <form method="post">
                            {% csrf_token %}
                              {{ user_filter_form|crispy }}
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- list -->
    <div class="col-md-10">
      <div class="panel panel-info">
          <div class="panel-heading">
              <a data-toggle=collapse href="#collapseUserList">User List</a>
          </div>
          <div id="collapseUserList" class="panel-collapse collapse in" >
              <div class="panel-body">
                     <div class="table-responsive">
                         <table id="user_list" class="table table-bordered display">
                             <thead>
                               <tr>
                                 <th>username</th>
                                 <th>Last Name</th>
                                 <th>First Name</th>
                                 <th>Groups</th>
                                 <th>Active</th>
                                 <th>Action</th>
                               </tr>
                             </thead>
                             <tfoot>
                               <tr>
                                 <th>username</th>
                                 <th>Last Name</th>
                                 <th>First Name</th>
                                 <th>Groups</th>
                                 <th>Active</th>
                                 <th>Action</th>
                               </tr>
                             </tfoot>
                             <tbody>

                             </tbody>
                         </table>
                     </div>
              </div>
          </div>
      </div>
    </div>
</div>

  <div class="modal fade" id="modal-section">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

<script> //initialize script

  function strike_trough(data, row){
    if ((row['fields']['is_active'])){
        return data;
    }
    else {
      return '<strike>' + data + '</strike>';
    }
  }

    $(document).ready( function () {
      var form = $('#id_group').closest("form");
      var table = $('#user_list').DataTable({
        "drawCallback": function( settings ) {
            //https://stackoverflow.com/questions/39240361/datatables-and-bootstrap-tooltips
                $('[data-toggle="tooltip"]').tooltip();
                },
        "processing": true,
        "dom":  "<'row'<'col-md-6'l><'col-md-6'f>><'row'<'col-md-6'B><'col-md-6'p>><'row'<'col-md-12't>><'row'<'col-md-12'i>>",
        "buttons": [
            'print','copy', 'excel', 'pdf', 'colvis'
              ],
        "ajax": {
            "processing": true,
            "url": "{% url 'registration:populate_table_user_list_ajax' %}",
            "data": function( d ) {
                    d.group =   get_group_selection(); //$('#id_group_1').val();
                    d.is_active = get_active_checkbox();
                    d.select_all_users = get_all_users_checkbox();
                  },
            "dataSrc": ""
        },
        'columns': [
          {"data": "fields.username"},
          {"data": "fields.last_name"},
          {"data": "fields.first_name"},
          {"data": "fields.groups"},
          {"data": "fields.is_active"},
          {"data": "fields.pk"},
        ],
        "columnDefs": [
          {   //https://stackoverflow.com/questions/45446910/jquery-datatables-align-center-1-column
              "targets": [-1,-2],
              "className": "text-center",
              // "width": "4%"
         },
          { "render": function ( data, type, row ) {
                    if (data) {
                        return '<button type="button" class="btn btn-danger btn-xs js-toggle-user" '
                                +'data-url="/registration/ajax/user/deactivate_activate/' + row['pk']  +'/">'
                                +'<span class="glyphicon glyphicon-remove-sign"></span> Deactivate </button>';
                    }
                    else
                        return '<button type="button" class="btn btn-success btn-xs js-toggle-user" '
                                +'data-url="/registration/ajax/user/deactivate_activate/' + row['pk']
                                +'/">' +'<span class="glyphicon glyphicon-ok-sign"></span> Activate </button>';
                  },
                  "targets": -2
          },
          { "render": function ( data, type, row ) {
                      return '<div class="btn-group"><button id="button-edit" type="button" '
                              + 'data-toggle="tooltip" data-placement="top" title="Edit user" '
                              + 'class="btn btn-secondary btn-xs js-update-user" data-url="/registration/ajax/user/update/'
                              + data  +'/">' +'<span class="glyphicon glyphicon-pencil"></span></button>'
                              + '<button id="button-change-password" type="button" '
                              + 'data-toggle="tooltip" data-placement="top" title="Change Password" '
                              + 'class="btn btn-primary btn-xs js-reset-password-user" data-url="/registration/ajax/user/reset_password/'
                              + data  +'/">' +'<span class="glyphicon glyphicon-lock"></span></button></div>';
                  },
                  "targets": -1
          },
          { "render": function ( data, type, row ) {
                    if ((row['fields']['is_active'])) {
                        return data;
                    }
                    else
                        return '<strike>' + data + '</strike>';
                  },
                  "targets": [0,1,2,3]
          },

        ],
        "order": [[ 0, "asc" ]],
      });
      $('input:checkbox').prop('checked',true); //check all checkboxes filter by default
      $('#id_all_users').prop('checked',false);  //except all users

      // adjust font on group filters
      $("#div_id_group").find('.form-check').css({"font-size": "75%", "font-weight": "normal"});
    });

</script>

<script> //filter options manipulation

  function get_group_selection(){
    var group_checked = [];
    $.each($("input[name='group']:checked"), function(){
      group_checked.push($(this).val()); //get all checked group
    });
    return group_checked;
  }

  function get_active_checkbox(){
    if ($('#id_active').prop('checked'))
      return true;
    else
      return false;
  }

  function get_all_users_checkbox(){
    if ($('#id_all_users').prop('checked'))
      return true;
    else
      return false;
  }

  $(document).ready( function () {
      //$('[id^=id_group_]').change( function(){
    $(':checkbox').change( function(){
        $('#user_list').DataTable().ajax.reload();
    });
  });

  $(document).ready( function () {
    $('#id_all_users').change( function(){
      if ($(this).prop('checked')) {
        $('input:checkbox').prop('checked',true);
        $('input:checkbox').prop('disabled',true);
        $(this).prop('disabled',false);
      }
      else{
        $('input:checkbox').prop('disabled',false);
      }
    });
  });
</script>

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/buttons.print.min.js' %}"></script>
<!-- for other buttons of datatables -->
<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'js/jszip.min.js' %}"></script>
<script src="{% static 'js/pdfmake.min.js' %}"></script>
<script src="{% static 'js/vfs_fonts.js' %}"></script>
<script src="{% static 'js/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/buttons.colVis.min.js' %}"></script>


<script src="{% static modal_ajax_location %}"></script>
{% endblock %}
