{% extends 'base_2.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block heading  %}

<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}">

<!-- for more datatables buttons -->
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.bootstrap.min.css' %}">
<style media="screen">
      #position_list_wrapper .btn, #position_list_wrapper{
        font-size: 11px;
      }
      .odd {
        background-color: #f4f3f2;
      }
</style>
{% endblock %}

{% block content %}
<h3> <b>Position Management</b></h3>

<div class="row">
    <!-- filter & create botton-->
      <div class="col-md-2">
          <!-- create botton -->
          <div class="row " style="margin-bottom: 10px;">
              <div class="col-md-12">
                <button type="button" class="btn btn-block btn-primary btn-md js-create-position"
                 data-toggle="tooltip" data-placement="right" title="Create new position"
                   data-url="{% url 'registration:create_position_ajax' %}">
                  <span class="glyphicon glyphicon-plus"></span>
                  New Position
                </button>
              </div>
          </div>
          <!-- filter -->
          <div class="row ">
              <div class="col-md-12">
                <div class="panel panel-info">
                      <div class="panel-heading">
                          <a data-toggle=collapse href="#collapseFilter">Filter</a>
                      </div>
                      <div id="collapseFilter" class="panel-collapse collapse in" >
                          <div class="panel-body">
                            <form method="post">
                              {% csrf_token %}
                                {{ filter_form|crispy }}
                            </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- list -->
      <div class="col-md-10">
            <div class="panel panel-info">
                  <div class="panel-heading" >
                      <a data-toggle=collapse href="#collapasePositionList">Position List</a>
                  </div>
                  <div id="collapasePositionList" class="panel-collpase collpase in">
                        <div class="panel-body">
                              <p>

                              </p>
                              <div class="table-responsive">
                                  <table id="position_list" class="table table-bordered display">
                                    <thead>
                                      <tr>
                                        <th>Priority</th>
                                        <th>Title</th>
                                        <th>Number of Slots</th>
                                        <th>Grade Level</th>
                                        <th>Action</th>
                                      </tr>
                                    </thead>
                                    <tfoot>
                                      <tr>
                                        <th>Priority</th>
                                        <th>Title</th>
                                        <th>Number of Slots</th>
                                        <th>Grade Level</th>
                                        <th>Action</th>
                                      </tr>
                                    </tfoot>
                                    <tbody>
                                    </tbody>
                                  </table>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>

<div class="modal fade" id="modal-section">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<script> //initialize script

  function get_all_checkbox(){
    if ($('#id_show_all').prop('checked'))
      return true;
    else
      return false;
  }

    $(document).ready( function () {
      var table = $('#position_list').DataTable({
        "drawCallback": function( settings ) {
            //https://stackoverflow.com/questions/39240361/datatables-and-bootstrap-tooltips
                $('[data-toggle="tooltip"]').tooltip();
                },
        "processing": true,
        "dom":  "<'row'<'col-md-6'l><'col-md-6'f>><'row'<'col-md-6'B><'col-md-6'p>><'row'<'col-md-12't>><'row'<'col-md-12'i>>",
        "buttons": [
            'print','copy', 'excel', 'pdf', 'colvis'
              ],
        "ajax": {
            "processing": true,
            "url": "{% url 'registration:populate_table_position_list_ajax' %}",
            "data": function( d ) {
                    d.select_all = get_all_checkbox();
                  },
            "dataSrc": ""
        },
        'columns': [
          {"data": "fields.priority"},
          {"data": "fields.title"},
          {"data": "fields.number_of_slots"},
          {"data": "fields.grade_level"},
          {"data": "pk"},
        ],
        fixedColumns: false,
        'columnDefs': [
            {   //https://stackoverflow.com/questions/45446910/jquery-datatables-align-center-1-column
                "targets": [0,-1,2],
                "className": "text-center",
                // "width": "4%"
           },
           {
               "targets": [0,2],
                "width": "4%",
           },
           { "render": function ( data, type, row ) {
             var toggleButton = ""
             if (row['fields']['is_active'] == 'Active') {
              toggleButton = '<button id="button-change-password" type="button" '
                    + 'class="btn btn-danger btn-xs js-toggle-position"'
                    + 'data-toggle="tooltip" data-placement="top" title="Deactivate" '
                    + 'data-url="/registration/ajax/position/toggle_status/'
                    + row['pk']  +'/">' +'<span class="glyphicon glyphicon-remove-sign"></span></button></div>';
              }
              else {
                toggleButton = '<button  type="button" class="btn btn-success btn-xs js-toggle-position"'
                    + 'data-toggle="tooltip" data-placement="right" title="Activate" '
                    + 'data-url="/registration/ajax/position/toggle_status/'
                    + row['pk']  +'/">' +'<span class="glyphicon glyphicon-ok-sign"></span></button></div>';
              }
             return '<div class="btn-group"><button id="button-edit" type="button" '
                     + 'data-toggle="tooltip" data-placement="left" title="Edit" '
                     + 'class="btn btn-secondary btn-xs js-update-position" '
                     + 'data-url="/registration/ajax/position/update/'
                     + data  +'/">' +'<span class="glyphicon glyphicon-pencil"></span></button>'
                     + '<button id="button-show-more-details-position" type="button" '
                     + 'data-toggle="tooltip" data-placement="top" title="Show More Details" '
                     + 'class="btn btn-primary btn-xs js-show-more-details-position" '
                     + 'data-url="/registration/ajax/position/more_details/'
                     + data  +'/">' +'<span class="glyphicon glyphicon-list-alt"></span></button>'
                     + toggleButton ;
                   },
             "targets": -1
           },
           { "render": function ( data, type, row ) {
                     if ((row['fields']['is_active']) == 'Active') {
                         return data;
                     }
                     else
                         return '<strike>' + data + '</strike>';
                   },
             "targets": [0,1,2,3]
           },
           ],
        "order": [[ 0, "asc" ]]
      });

      //listener
      $(':checkbox').change( function(){
          $('#position_list').DataTable().ajax.reload();
      });

    });
</script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/buttons.print.min.js' %}"></script>
  <!-- for other buttons of datatables -->
  <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jszip.min.js' %}"></script>
  <script src="{% static 'js/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/buttons.colVis.min.js' %}"></script>
   <script src="{% static modal_ajax_location %}"></script>
{% endblock %}
