<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DNHS EVS</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <!-- <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet"> -->

      <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- <script src="{% static 'js/popper.min.js' %}"></script> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block heading %}
    {% endblock %}

  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top navbar-fixed-top navbar-invers">
      <div class="container">
        <ul class="nav navbar-nav">
          <li ><a class="navbar-brand" href="{%url 'home' %}">DNHS E-Voting</a></li>
          <!-- <li><a class="navbar-link" href="">Admin</a></li>
          <li><a class="navbar-link" href="">Other</a></li> -->
          {% if  perms.registration.add_student %}
            <li>
              <div class="dropdown">
                <button class="dropbtn">Student</button>
                <div class="dropdown-content">
                  <a href="{%url 'registration:upload_students' %}">Upload Students</a>
                  <a href="{%url 'registration:add_student' %}">Add Student</a>
                  <a href="{%url 'registration:list_student' %}">Update Student</a>
                    <a href="{%url 'registration:list_student' %}">List of Students</a>
                </div>
              </div>
            </li>
          {% endif %}
          {% if perms.auth.add_user %}
            <li>
              <div class="dropdown">
                <button class="dropbtn">User</button>
                <div class="dropdown-content">
                  <!-- <a href="{#%url 'registration:create_user' %}">Create User</a> -->
                  <!-- <a href="{#%url 'registration:create_election_officer' %}">Create Election Officer</a> -->
                  <a href="{%url 'registration:list_user' %}">User Management</a>
                  <!-- <a href="#">Update Election Officer</a> -->
                  <!-- <a href="#">Link 2</a>
                  <a href="#">Link 3</a> -->
                </div>
              </div>
            </li>
          {% endif %}

        {% if perms.registration.add_election or perms.registration.view_vote %}
          <li>
            <div class="dropdown">
              <button class="dropbtn">Election</button>
              <div class="dropdown-content">
                {% if perms.registration.add_election %}
                <a href="{%url 'registration:position' %}">Position Management</a>
                <a href="{%url 'registration:list_election' %}">Election Management</a>
                <a href="{%url 'registration:party' %}">Party Management</a>
                <a href="{%url 'registration:candidate' %}">Candidate Management</a>
                {% endif %}
                {% if perms.registration.view_vote %}
                <a href="{%url 'election:election_live_monitoring' %}">Live Monitoring</a>
                {% endif %}
                <!-- <a href="#">Review List Voters and Candidates</a>
                <a href="#">Generate Voter's Token</a>
                <a href="#">Add Candidate</a>
                <a href="#">Update Candidate</a>
                <a href="#">Update Candidate Profile</a>
                <a href="#">Create Position</a>
                <a href="#">Update Position</a> -->
              </div>
            </div>
          </li>
        {% endif %}

        {% if perms.registration.view_vote %}
        <li>
          <div class="dropdown">
            <button class="dropbtn">Data Analytics</button>
            <div class="dropdown-content">
              <a href="{%url 'reporting:reports' %}">Reports</a>
            </div>
          </div>
        </li>
        {% endif %}

        </ul>
        <ul class="nav navbar-nav navbar-right">
         <li>
           {% if not user.is_authenticated %}
           <a href="#" class="js-login" data-url="{% url 'login_ajax' %}">
             <span class="glyphicon glyphicon-user"></span>
             Login
           </a>
           {% else %}
           <a href="#" class="js-logout" data-url="{% url 'logout_ajax' %}" redirect-url="{% url 'home' %}">
             <span class="glyphicon glyphicon-log-out"></span>
             Logout({{user}})
           </a>
           {% endif %}
         </li>
         <li><a href="#"><span class="glyphicon glyphicon-picture"></span> Candidate Profile</a>
         </li>
         <li><a href="#"><span class="glyphicon glyphicon-ok"></span> Review Vote</a>
         </li>
       </ul>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <!-- {% if perms.registration.add_election %}
      Student
    {%endif%} -->
    <div class="modal fade" id="modal-login">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
<script src="{% static 'base/js/base.js' %}"></script>

  {% block javascript %}
  {% endblock %}

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="{%url 'home' %}"> Dakak National High School Electronic Voting System</a>
  </div>
  <!-- Copyright -->


  <!-- <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script> -->
</body>

</html>
