<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DNHS EVS</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
      <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block heading %}
    {% endblock %}

  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top navbar-fixed-top navbar-invers">
      <div class="container">
        <ul class="nav navbar-nav">
          <li ><a class="navbar-brand" href="{%url 'home' %}">DNHS E-Voting</a></li>
          <!-- <li><a class="navbar-link" href="">Admin</a></li>
          <li><a class="navbar-link" href="">Other</a></li> -->
          <li>
            <div class="dropdown">
              <button class="dropbtn">Student Management</button>
              <div class="dropdown-content">
                <a href="{%url 'registration:upload_students' %}">Upload Students</a>
                <a href="{%url 'registration:add_student' %}">Add Student</a>
                <a href="{%url 'registration:list_student' %}">Update Student</a>
                  <a href="{%url 'registration:list_student' %}">List of Students</a>
              </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">User Management</button>
            <div class="dropdown-content">
              <a href="{%url 'registration:create_user' %}">Create User</a>
              <a href="{%url 'registration:create_election_officer' %}">Create Election Officer</a>
              <a href="{%url 'registration:list_user' %}">Update User</a>
              <a href="#">Update Election Officer</a>
              <!-- <a href="#">Link 2</a>
              <a href="#">Link 3</a> -->
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Election Management</button>
            <div class="dropdown-content">
              <a href="#">Create Election</a>
              <a href="#">Update Election</a>
              <a href="#">Review List Voters and Candidates</a>
              <a href="#">Generate Voter's Token</a>
              <a href="#">Add Candidate</a>
              <a href="#">Update Candidate</a>
              <a href="#">Update Candidate Profile</a>
              <a href="#">Create Position</a>
              <a href="#">Update Position</a>
            </div>
          </div>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
         <li><a href="#"> Login</a>
         </li>
         <li><a href="#"> Review my Vote</a>
         </li>
       </ul>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        {% block content %}
        {% endblock %}
      </div>
    </div>



    <!-- Latest compiled and minified JavaScript -->

    {% block javascript %}
    {% endblock %}
  </body>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="{%url 'home' %}"> Dakak National High School Electronic Voting System</a>
  </div>
  <!-- Copyright -->

</html>
