{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <h1>Home Page</h1>



  <!-- modal for Voting -->
  <div class="modal fade" id="modal-section">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

{% if is_election_day %}

<div class="modal fade" id="modal-vote-confirmation">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="modal-show-ballot">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

  <div class="" id="variable_container"
    data-url-authenticate_voter_ajax="{% url 'election:authenticate_voter_ajax' %}"
  >
  </div>

  <script src="{% static 'base/js/election_day.js' %}"></script>

  <script type="text/javascript">

  </script>

{% endif %}

{% endblock %}
