{% extends 'base.html' %}
{% block content %}
  <h1>Home Page</h1>



<!-- modal for Voting -->
<div class="modal fade" id="modal-vote">
  <div class="modal-dialog">
    <div class="modal-content">
      Election Day!
    </div>
  </div>
</div>

<script type="text/javascript">
    $(window).on('load',function(){
      // if election day, show modal-vote
      console.log("{{is_election_day}}");
        if ("{{is_election_day}}" == "True")
          $('#modal-vote').modal('show');
    });
</script>


{% endblock %}
