{% extends 'base.html' %}
{% load staticfiles %}
  {% block heading %}
      <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  {% endblock %}

{% block content %}


<div id="dialog-confirm" title="Generate Voters' token for this election?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
    This action will generate the token for all the voters listed above. Do you want to proceed?
  </p>
</div>

<script>
  $( function() {
    $( "#dialog-confirm" ).dialog({
      resizable: false,
      height: "auto",
      width: 400,
      modal: true,
      buttons: {
        "Confirm": function() {
          console.log("Confirm selected");
          $( this ).dialog( "close" );
        },
        Cancel: function() {
          console.log("Cancel Selected");
          $( this ).dialog( "close" );
        }
      }
    });
  } );
</script>


<script src="{% static 'js/jquery-ui.js' %}"></script>

{% endblock %}
