{% extends 'base_2.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block heading  %}
    <link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}">

    <!-- for more datatables buttons -->
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.bootstrap.min.css' %}">

    <!-- chart.js -->
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>

    <style media="screen">
          .dataTables_wrapper .btn, .dataTables_wrapper{
            font-size: 11px;
          }
          .odd {
            background-color: #f4f3f2;
          }
    </style>

{% endblock %}

{% block content %}
  {% if object %}
    <h3><b>Live Votes Monitoring for {{ object|title }} Election</b></h3>
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                <a data-toggle="collapse" href="#collapseCanidates">
                  <h2 style="margin: 0px">Live Monitoring <span id="timestamp"></span></h2>
                </a>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary js-refresh-count"
                data-toggle="tooltip" data-placement="right" title="Create new Candidate"
                  data-url="{% url 'registration:create_candidate_ajax' %}"
                  style="float: right;">
                 <span class="glyphicon glyphicon-refresh"></span>
                 Refresh Now
               </button>
            </div>
        </div>
      </div>
      <div id="collapseCanidates" class="panel-collapse collapse in">
          <div class="panel-body">
              <!-- votes count panel -->
                <div class="panel panel-success">
                      <div class="panel-heading">
                          <a href="#collapseVoteCount" data-toggle="collapse">
                              Votes Count
                          </a>
                      </div>
                      <div id="collapseVoteCount" class="panel-collapse collapse in">
                          <div class="panel-body">
                                <div class="table-responsive">
                                  <table id="vote_monitoring" class="table table-bordered display">
                                      <thead>
                                        <tr>
                                          <th>Position</th>
                                          <th>Candidate</th>
                                          <th>Vote Count</th>
                                        </tr>
                                      </thead>
                                      <tfoot>
                                        <tr>
                                          <th>Position</th>
                                          <th>Candidate</th>
                                          <th>Vote Count</th>
                                        </tr>
                                    </tfoot>
                                  </table>
                                </div>
                          </div>
                      </div>
                </div>

                <!-- participation rate monitoring -->
                <div class="panel panel-success">
                      <div class="panel-heading">
                          <a href="#collapseParticipationRate" data-toggle="collapse">
                              Participation Rate
                              <span id="participation_rate"></span>
                          </a>
                      </div>
                      <div id="collapseParticipationRate" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div id="panel_group_for_participation_rate" class="panel-group">

                              </div>
                          </div>
                      </div>
                </div>
          </div>
      </div>
    </div>

  {% else %}
    <script type="text/javascript">
      $(window).on('load',function(){
        // show modal telling user no active election
            $("#modal-section").modal("show");
      });
    </script>
  {%endif%}


  <div class="modal fade" id="modal-section">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-lable="Close"">
            <span area-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            No Election!
          </h4>
        </div>
        <div class="modal-body">
          <p>There is no election today to monitor. Please come back next time!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-close" data-dismiss="modal">Okay</button>

        </div>
      </div>
    </div>
  </div>

  <!-- chartjs plugins to show text in middle -->
  <!-- http://www.authorcode.com/how-to-add-text-inside-the-doughnut-chart-using-chart-js/ -->
  <script>

    function drawTotals(chart) {

        var width = chart.chart.width,
        height = chart.chart.height,
        ctx = chart.chart.ctx;

        ctx.restore();
        var fontSize = (height / 114).toFixed(2);
        ctx.font = fontSize + "em sans-serif";
        ctx.textBaseline = "middle";

        var text = chart.config.centerText.text,
        textX = Math.round((width - ctx.measureText(text).width) / 2),
        textY = height / 2;

        ctx.fillText(text, textX, textY);
        ctx.save();
    }
  </script>


  <script type="text/javascript">

    function set_timestamp(){
        var date_now = new Date();
        $('#timestamp').html("(" + date_now.toLocaleString() +")");
    }

    function update_participation_rate(){
        $.ajax({
          url: "{% url 'election:election_live_populate_participation_rate' %}",
          type: 'get',
          processing: true,
          dataType: 'json',
          success: function(data){
              // populate html in panel_group_for_participation_rate
              $('#panel_group_for_participation_rate').html(data.html_panel)

              // for overall doughnut chart
              var ctx = $('#overall-graph');
              var overall_chart = new Chart(ctx, {
                    plugins: [{
                        beforeDraw: function(chart, options) {
                          if (chart.config.centerText.display !== null &&
                              typeof chart.config.centerText.display !== 'undefined' &&
                              chart.config.centerText.display) {
                              drawTotals(chart);
                          }
                        }
                    }],
                    type: 'doughnut',
                    data: {
                        labels: data.overall_participation_rate_graph.labels,
                        datasets: data.overall_participation_rate_graph.dataset
                    },
                    options: {
                        title: {
                            display: true,
                            text: data.overall_participation_rate_graph.title_text,
                            position: 'top',
                            fontSize: 20
                        },
                        legend: {
                          display: data.overall_participation_rate_graph.labels,
                          position: 'bottom'
                        },
                        plugins: {
                        // Change options for ALL labels of THIS CHART
                        datalabels: {
                            color: '#000000'
                          }
                      },
                    },
                    centerText: {
                        display: true,
                        text: data.overall_participation_rate_graph.center_text,
                    }
                });

              // for grade_level bar chart
              var ctx = $('#grade-level-graph');
              var grade_level_chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.grade_level_graph_dict.labels,
                        datasets: data.grade_level_graph_dict.dataset
                    },
                    options: {
                        title: {
                            display: true,
                            text: data.grade_level_graph_dict.title_text,
                            position: 'top',
                            fontSize: 20
                        },
                        legend: {
                          display: false,
                          position: 'top'
                        },
                        plugins: {
                        // Change options for ALL labels of THIS CHART
                        datalabels: {
                            color: '#000000'
                          }
                      },
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero: true
                              }
                          }],
                          xAxes: [{
                              ticks: {
                                  beginAtZero: true
                              }
                          }]
                      }
                    },
                });

                // for section bar chart
                var ctx = $('#section-graph');
                var section_chart = new Chart(ctx, {
                      type: 'bar',
                      data: {
                          labels: data.section_graph_dict.labels,
                          datasets: data.section_graph_dict.dataset
                      },
                      options: {
                          title: {
                              display: true,
                              text: data.section_graph_dict.title_text,
                              position: 'top',
                              fontSize: 20
                          },
                          legend: {
                            display: false,
                            position: 'top'
                          },
                          plugins: {
                          // Change options for ALL labels of THIS CHART
                          datalabels: {
                              color: '#000000'
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                      },
                  });

          },
        });
    }

    $(function () {

      var last_update = 0;
      var auto_refresh_interval = 60000;

      var table = $('#vote_monitoring').DataTable({
        // "bFilter" : false,
        initComplete: function () {
              this.api().columns().every( function () {
                  var column = this;
                  var select = $('<select><option value=""></option></select>')
                      .appendTo( $(column.footer()).empty() )
                      .on( 'change', function () {
                          var val = $.fn.dataTable.util.escapeRegex(
                              $(this).val()
                          );

                          column
                              .search( val ? '^'+val+'$' : '', true, false )
                              .draw();
                      } );

                  column.data().unique().sort().each( function ( d, j ) {
                      select.append( '<option value="'+d+'">'+d+'</option>' )
                  } );
              } );
          },
        "bLengthChange": false,
        "bPaginate": false,
        "processing": true,
        "dom":  "<'row'<'col-md-6'B><'col-md-6'f>><'row'<'col-md-12't>><'row'<'col-md-12'i>>",
        "buttons": [
              'print','copy', 'excel', 'pdf', 'colvis'
                ],
        "ajax": {
            "processing": true,
            "url": "{% url 'election:populate_vote_count_live' %}",
            // "data": function( d ) {
            //         d.select_all = get_all_checkbox();
            //         d.election = "{{ object.id }}"; //filter for this election.
            //                                 //get candidates for this election only
            //       },
            "dataSrc": ""
        },
        'columns': [
          {"data": "fields.position"},
          {"data": "fields.candidate"},
          {"data": "fields.vote_count"},
        ],
        fixedColumns: false,
        'columnDefs': [
            {   //https://stackoverflow.com/questions/45446910/jquery-datatables-align-center-1-column
                "targets": [-1],
                "className": "text-center",
                // "width": "4%"
           },
           {
              "render": function( data, type, row ){
                  if((row['fields']['potential_winner'])) {
                    return '<div style="font-size: 120%" ><strong>'
                            + data
                            + '</strong></div>';
                  }
                  else
                    return data;
              },
              "targets": [0,1,2]
           },
           ],
         "ordering": false
      });

      $('#modal-section').on('click','.btn-close', function(){
          //redirect backward
          history.go(-1);
      });

      //listener
      $('.js-refresh-count').click(function(){
        $('#vote_monitoring').DataTable().ajax.reload();
        set_timestamp();
        update_participation_rate();
      });

      //auto refresh every auto_refresh_interval
      window.setInterval(function(){
        $.ajax({
            url: "{% url 'election:check_for_new_vote_ajax' %}",
            type: 'get',
            dataType: 'json',
            success: function(data){
                        if (data.last_vote_timestamp != last_update) {
                          last_update = data.last_vote_timestamp;
                          $('#vote_monitoring').DataTable().ajax.reload();
                        }
                        set_timestamp();
                        update_participation_rate();
                      },
        });
      }, auto_refresh_interval);

      // set initial date to span timestamp
      set_timestamp();

      //populate participation_rate
      update_participation_rate();

    });
  </script>

  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/buttons.print.min.js' %}"></script>

  <!-- for other buttons of datatables -->
  <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jszip.min.js' %}"></script>
  <script src="{% static 'js/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/buttons.colVis.min.js' %}"></script>

{% endblock %}
